<%- include('header'); %>
    <div class="container-fluid" id="mainPage">
        <h1>Receipt Processor</h1>


        <form action="/receipts/process" method="POST" enctype="multipart/form-data">

            <div class="fileUploadField">
                <input class="form-control" type="file" name="file" id="jsonFileField">
                <button class="btn btn-outline-dark" type="submit">Add JSON File</button>
            </div>

            <div class="textField">
                <label for="jsonTextField" class="form-label">Write/Paste JSON Text:</label>
                <textarea class="form-control" type="text" name="text" id="jsonTextField" rows="3"></textarea>
                <button class="btn btn-outline-dark" type="submit">Add JSON Text</button>
            </div>
        </form>

        <div class="list-group">
            <% receipts.forEach((receipt, id)=> { %>
                    <a href=<%=`/receipts/${id}/points`%> class="list-group-item list-group-item-action" role="button">
                        <%=`{"id" : "${id}" }` %></a>
                <% }) %>
        </div>
    </div>
    <%- include('footer'); %>